:root {
  --bg: #282828;
  --bg1: #3c3836;
  --bg0_h: #1d2021;
  --fg: #ebdbb2;
  --fg4: #a89984;
  --aqua: #8ec07c;
  --green: #689d6a;
  --gray: #504945;
  --red: #cc241d;
  --orange: #d65d0e;
}

a {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
}

a:visited,
a:link {
  color: var(--fg);
}


a:hover {
  color: var(--green);
}

body {
  margin: 0px;
  background-color: var(--bg);
  color: var(--fg);
}

nav {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-style: normal;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding: 2px 20px;

  background-color: #fb4934;
  background-color: rgba(146,131,116, .7);
  background-color: rgba(80, 63, 79, .5);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#site-name {
  font-family: 'Frijole', cursive;
  font-style: italic;
  font-size: 1.75em;
  font-weight: bold;

  color: var(--red);
}

#nav-link a {
  letter-spacing: 1px;
  text-transform: uppercase;

  font-style: normal;

  cursor: pointer;
  margin-left: 10px;
}

header {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-style: normal;
  text-align: left;

  position: relative;
  height: 700px;

  background-image: url("./figures/bg.jpeg");
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* align-items: flex-start; */
  /* justify-content: space-between; */
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

#header-title {
    font-size: 5em;
    font-weight: 200;
    text-align: center;
    z-index: 1;
    position: relative;
    top: 10%;

    margin: auto 0%;
    background-color: rgba(80, 63, 79, .5);
}

section {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-align: left;

  padding: 5%;
  margin: 6% 3%;

  display: flex;
  flex-direction: column;
}

.section-entry-even,
.section-entry-odd {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-top: 5px solid var(--green);
  margin-bottom: 20px;
  padding: 0px;
}

.section-entry-odd {
  border-left: 5px solid var(--green);
}

.section-entry-even {
  border-right: 5px solid var(--green);
}

.section-entry-even h1,
.section-entry-odd h1 {
  font-family: 'Teko', sans-serif;
  font-style: normal;

  margin: 0px;
  text-align: center;
  color: var(--orange);
  letter-spacing: .15em;
  font-size: 4em;
  font-weight: bold;
}

.section-entry-odd h1 {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.section-entry-even h1 {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.entry-content {
  padding: 2%;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.content-description {
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-description p {
  padding: 0%;
  margin: 0%;
}

.content-description a {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;

  width: fit-content;
  padding: 4%;

  border-radius:25px;
  background-color: rgba(204, 36, 29, .2);
}

.content-description a:hover {
  color: var(--gray);
}

.content-description p {
  font-size: 1.60em;
}

.pic {  
  height: 100%;
  border: 3px solid var(--fg);
  width: 50%;
}

.content-pic {
  width: 100%;
}

footer {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  font-style: normal;
  text-align: center;

  background-color: var(--bg0_h);
  padding: 5px;
  text-align: center;
}

@media (max-width: 1526px) {
  .content-description p {
    font-size: 1.40em;
  }

  .content-description a {
    font-size: 1.80em;
  }
}

@media (max-width: 1203px) {

  .content-description p {
    font-size: 1.20em;
  }

  .content-description a {
    font-size: 1.50em;
  }
}

@media (max-width: 1159px) {
  #header-title { 
    font-size: 4em;
    letter-spacing: 1.5px;
  }

  .section-entry-even h1,
  .section-entry-odd h1 {
    font-size: 3em;
  }

  .content-description p {
    font-size: 1em;
  }
}

#menu {
  display: none;
}

#menu div {
  width: 25px;
  height: 3px;
  background-color: var(--fg);
  margin: 5px 0;
}

@media (max-width: 1000px) {
  #site-name {
    font-size: 1em;
  }

  #nav-link a {
    display: none;
  }

  #menu {
    display: block;
  }

  section {
    margin: 0%;
    padding: 0%;
  }

  .section-entry-even h1,
  .section-entry-odd h1 {
    font-size: 2em;
    letter-spacing: .05em;
  }
 

  #header-title { 
    font-size: 3em;
  }

  .entry-content {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .entry-content a {
    font-size: 1.25em;
    margin-top: 12px;
  }

  .content-description {
    align-items: center; 
    justify-content: space-between;
  }

  .content-description p {
    font-size: .75em;
    line-height: 1.2em;
  }

  .pic {  
    height: 100%;
    border: 3px solid var(--fg);
    width: 70%;
    margin-bottom: 14px;
  }

  .content-pic {
    width: 100%;
  }
}
